<ion-header class="clear">
    <ion-navbar class="clear" no-border-bottom primary>
        <ion-title>Login</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="login">
    <br>
    
    <ion-card class="error-message">
        <ion-list *ngIf="validUser=='false'">
            <ion-item>
                <ion-icon item-left ios="md-alert" md="md-alert"></ion-icon>
                <p>Incorrect username or password</p>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-list class="name auth-list">
        <form [formGroup]="getEmailForm" (submit)="login($event)">
            <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input class="signup-email" [(ngModel)]="Email" [formControl]="getEmailForm.controls['Email']" type="email"></ion-input>
            </ion-item>
            <div *ngIf="getEmailForm.controls['Email'].touched">
                <div *ngIf="!getEmailForm.controls['Email'].valid && validUser==true" class="alert-danger">
                    <strong>&nbsp;&nbsp;Invalid Email</strong>
                </div>
            </div>
            <ion-item>
                <ion-label stacked>Password</ion-label>
                <ion-input class="signup-password" [(ngModel)]="Password" [formControl]="getEmailForm.controls['Password']" type="password"></ion-input>
            </ion-item>
            <div *ngIf="getEmailForm.controls['Password'].touched">
                <div *ngIf="!getEmailForm.controls['Password'].valid && validUser==true" class="alert-danger">
                    <strong>&nbsp;&nbsp;Password is required</strong>
                </div>
            </div>
            <br/>
            <ion-item style="text-align: center"><button type="submit" [disabled]="!getEmailForm.valid" ion-button secondary text-center>Log In</button></ion-item>

        </form>
        <!-- <button margin-vertical round block small clear light (click)="goToForgotPassword()">Forgot Password?</button> -->
    </ion-list>
</ion-content>