<ion-header>
    <ion-navbar>
  
        <ion-title>Contacts</ion-title>
        <ion-buttons end  >
            <button (click)="logout()">
                <ion-icon ios="ios-exit" md="md-exit">Logout</ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of items">
            <!-- <ion-icon [name]="item.icon" item-start></ion-icon> -->
            <ion-icon ios="ios-contact" md="md-contact"></ion-icon>{{item.title}}
            <br>
            <ion-icon ios="ios-call" md="md-call"></ion-icon> {{item.note}}
        </ion-item>
    </ion-list>
    <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
    </div>
</ion-content>